.highlight-box {
  background-color: #498292;
  padding: 10px 0px;
  margin-bottom: 20px;
  margin-left: .5em;
}

.highlight-box ul {
    color: #EDE1DB;
    font-weight: 300;
    font-size: .90em;
}

.highlight-box li {
  padding-left: 5px;
  padding-right: 10px;
}

.highlight {
  margin-bottom: .5em;
}
