
.title-card {
  margin-bottom: .5em;
  cursor: default;
  position: relative;
  display: inline-block;
}

.title-element {
  display: inline-block;
}

.title-card.titlecard-has-highlights {
  cursor: pointer;
}

.title {
  display: inline-block;
}

.title-text {
  font-weight: bold;
}

.title-date {
  width: 120px;
  padding-right: .35em;
  text-align: left;
  display: inline-block;
}

.title-org {
  font-style: italic;
}

.summary {
  margin-left: .5em;
}

.has-highlights {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #498292;
}