

body {
    background-color: #8EB9C5;
    font-weight: 500;
    font-size: 1.75em;
    margin: 0px;
}

a {
    color: #AA4E1F;
}

#main-body {
    padding-top: 140px;
    padding-bottom: 80px;
    color: black;

}

.container {
    margin-left: 10px;
}


