


#old_homepage_body {
    background-color:#a7a790;
    margin: 0px;
    padding: 0px;
}
#old_homepage_body .h1 {
    color:#86351f;
    text-align:center;
    font-family:"Macondo";
    font-size:32px;

}

#old_homepage_body a {
  color: #86351f;
}