/* ============================================================
  Resume
============================================================ */

.resume-body {
  padding-right: 120px;
}

.category-title {
  margin-bottom: .2em;
  margin-top: 3em;
  font-weight: bold;
}

.category-container {
  margin-top: 1em;
}

.ilb {
  display: inline-block;
}

.title-card {
  margin-bottom: .5em;
  cursor: default;
  position: relative;
  display: inline-block;
}

.title-element {
  display: inline-block;
}

.title-card.titlecard-has-highlights {
  cursor: pointer;
}

.title {
  display: inline-block;
}

.title-text {
  font-weight: bold;
}

.title-date {
  width: 120px;
  padding-right: .35em;
  text-align: left;
  display: inline-block;
}

.title-org {
  font-style: italic;
}

.summary {
  margin-left: .5em;
}

.highlight-box {
  background-color: #498292;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.highlight-box ul {
    color: #EDE1DB;
    font-weight: 300;
    font-size: .90em;
}

.highlight-box li {
  padding-left: 5px;
  padding-right: 10px;
}

.highlight {
  margin-bottom: .5em;
}

.has-highlights {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #498292;
}
.res-itemgroup {
    margin-left: 2em;
}


#wrapper {
  min-width: 600px;
}


.grouped-switch,
.grouped-label {
  display: inline-block;
}




/* ============================================================
  Timeline
============================================================ */

.timeline-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -5px;
  margin-top: 5px;
  border-radius: 50%;
}

.job {
  background-color: #5B903E;
}

.volunteer {
  background-color: #C67070;
}

.education {
  background-color: #784C83;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* ============================================================
  Control Bar
============================================================ */


.control-bar {
  display: table;
  background-color: #033644;
  padding: 10px;
  color: white;
  border-width: 2px;
  border-color: black;
  box-shadow: 1px 1px 5px #2D3132;
  /*#414C4F*/
}



/* ============================================================
  Control Bar - Slider
============================================================ */

input.cmn-toggle-round + label {
  padding: 1px;
  width: 40px;
  height: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before, 
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #c85e17;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.1s;
  -moz-transition: margin 0.1s;
  -o-transition: margin 0.1s;
  transition: margin 0.1s;
  
}
input.cmn-toggle-round:checked + label:before {
  background-color: #c85e17;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}

.switch {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px 0px 10px;
}


/* ============================================================
  Control Bar - Buttons
============================================================ */

#control-button-group {
  display: inline-block;
  margin-left: 40px;
}

.control-button {
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #4e5d6c;
  border-style: solid;
  border-width: 2px;
  border-color: #4e5d6c;
  transition:background 0s;

}

.control-button:hover {
  border-color: #c85e17;
  border-width: 2px;
  background-color: #4e5d6c;
}

#control-button-group button{
  font-weight: 500;
  font-size: 1em;
  background-color: #414C4F;
}

.control-button.selected {
  background-color: #4e5d6c;
  transition:background 0s;
}




/* ============================================================
  Timeline
============================================================ */

#timeline {
  position: relative;
  padding-bottom: 1em;
  /*margin-top: 2em;*/
  margin-bottom: 2em;
}


 /* this is the vertical line */
 
#timeline::before {
 
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: #d7e4ed;
}



/* ============================================================
  NameLevelBlurb
============================================================ */

.nlb-name {
  font-weight: bold;
}