
/****** Resume Items Styling **********/

.resume-heading {
  padding-top: 30px;
}
.category-title {
  margin-left: .5em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  font-weight: bold;

}

.title-card {
  margin-bottom: 1em;
  cursor: default;
  position: relative;
}

.title-card.titlecard-has-highlights {
  cursor: pointer;
}

.job {
  background-color: #5B903E
;
}

.volunteer {
  background-color: #C67070;
}

.education {
  background-color: #784C83;
}

.timeline-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -5px;
  margin-top: 5px;
  border-radius: 50%;
}


.title {
  font-weight: bold;
}

.title-date {
  padding-right: .35em;
}
.summary {
  margin-left: .5em;
}

.highlight-box {
  background-color: #498292;
  padding: 10px 10px 10px 0px ;
}

.highlight-box ul {
    color: #EDE1DB;
    font-weight: 300;
    font-size: .90em;
}

.highlight {
  margin-bottom: .5em;
}

.has-highlights {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #498292;
}
.res-itemgroup {
    margin-left: 2em;
}


/* ============================================================
  COMMON
============================================================ */
#wrapper {
  min-width: 600px;
}

.control-bar {
  display: table;
  width: 100%;
}

.grouped-switch,
.grouped-label {
  display: inline-block;
}


.switch {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px 0px 10px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* ============================================================
  Control Bar - Slider
============================================================ */

input.cmn-toggle-round + label {
  padding: 1px;
  width: 40px;
  height: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before, 
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #c85e17;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.1s;
  -moz-transition: margin 0.1s;
  -o-transition: margin 0.1s;
  transition: margin 0.1s;
  
}
input.cmn-toggle-round:checked + label:before {
  background-color: #c85e17;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}

/* ============================================================
  Control Bar - Buttons
============================================================ */

.control-button-group {
  display: inline-block;
  margin-left: 20px;
}

.control-button {
  margin-left: 10px;
  display: inline-block;
}


/* ============================================================
  Timeline
============================================================ */

#timeline {
  position: relative;
  padding-bottom: 1em;
  /*margin-top: 2em;*/
  margin-bottom: 2em;
}


 /* this is the vertical line */
 
#timeline::before {
 
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: #d7e4ed;
}

